.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.row {
    padding: 10px;
    margin-left: 1vw;
    row-gap: 2vh;
}

.selections-div {
    display: flex;
    column-gap: 5vw;
}

.checkboxes-div {
    flex-grow: 4;
    flex-flow: column nowrap;
    margin: 0px;
    padding: 0px;
}

.selections-container {
    background-color: aquamarine;
    margin-bottom: 2vh;
    padding: 5px;
}

.results-container {
    background-color:burlywood;
    padding: 5px;
}